.element{
    font-weight: lighter;
}

.element-hover{
    font-weight: bolder;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.status-closed{
    color: gray;
    opacity: 0.5;
}

.test{
    margin-right: 10px;
    height: 100%;
    float: left;
    border-style: solid;
    border-width: 2px;
    border-radius: 4px;
}