<div class="container-fluid">
    <div class="row">
        <div class="col"></div>
        <div class="col-10 bg-light p-3 rounded-lg">
            <div class="row">
                <div class="col">
                    <button class="btn btn-secondary float-right ml-2" (click)="backFromNewIssue()">Back</button>
                </div>
            </div>
            <form #newForm="ngForm" (submit)="submit(newForm.value)">
                <div class="form-group">
                    <label for="title" class="float-left">Title</label>
                    <input ngModel name="title" type="text" class="form-control" id="title" required>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="department">Department</label>
                        <select ngModel name="department" id="department" class="form-control">
                            <option *ngFor="let department of departments">{{department}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="severity">Severity</label>
                        <select ngModel name="severity" id="severity" class="form-control">
                            <option selected>Low</option>
                            <option>Medium</option>
                            <option>High</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="status">Status</label>
                        <select ngModel name="status" id="status" class="form-control">
                            <option selected>Open</option>
                            <option>Closed</option>
                        </select>
                    </div>
                    <div class="form-group col-md-12">
                        <label for="description">Description</label>
                        <textarea ngModel name="description" rows="10" class="form-control" id="description"></textarea>
                    </div>
                </div>
                <button type="submit" class="btn btn-success">Submit</button>
            </form>
        </div>
        <div class="col"></div>
    </div>
</div>