<nav class="navbar navbar-light bg-light justify-content-between border mb-4">
    <a href="http://localhost:4200/" class="navbar-brand">Issue Tracker</a>
    <ul class="navbar-nav flex-row">
        <li class="nav-item mr-2">
            <button class="btn btn-primary" (click)="newIssue()">New Issue</button>
        </li>
        <li class="nav-item mr-2">
            <button class="btn btn-warning">Find Issue</button>
        </li>
        <li class="nav-item mr-2">
            <button class="btn btn-secondary" (click)="logout()">Log Out</button>
        </li>
    </ul>
</nav>